.container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 5%;
    gap: 5%;
    height: 100vh;
}

.image {
   height: 100vh;
   z-index: 1;
}

.title {
    font-size: 4em;
    margin: 0;
    z-index: 0;
    
}

.titleText {
    margin: 0;
    padding: 0 3%;
}

.mainPara {
    font-size: 2em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 6%;
}

.paraText {
    margin: 0;
    padding: 0 3%;
}

.specialText {

}

.rightSide {
    
}

.button {
    text-align: center;
    font-size: 0.5em;
}