body {
    
    margin: 0;
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  

    opacity: 1;

    }
}