.container {

}

.titleText {
    font-size: 7em;
    font-weight: 500;
    line-height: 90%;
}

.title {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
}

.gap {
    display: inline-block;
    width: 5vw;
}