.container {
    position: relative;
    display: grid;
    justify-content: center;
    margin: 100px 0px;
}

.image {
    width: 30vw;
}

.pointer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.219);
}

.text {
    position: absolute;
    justify-content: center;
    align-content: center;
    margin: 0;
    font-size: 1.5em;
    width: 20%;
    text-align: center;
}

.p1 {
    top: 6%;
    left: 29%;
    width: 7%;
    height: 0.1%;
}

.t1 {
    top: 4.5%;
    left: 9%;
}