.container {
    display: grid;
    margin: 7% 6%;
    grid-template-columns: 49% 49%;
    grid-template-rows: 80vh 80vh;
    column-gap: 2%;
    row-gap: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    background: #f5fbff;
    box-shadow:  20px 20px 60px #d0d5d9,
                -20px -20px 60px #ffffff;
    border-radius: 50px;
}

.c1 {
    grid-row: 1;
    grid-column: 1;
}

.c2 {
    grid-row: 1;
    grid-column: 2;
}

.bbbbgBlue {
    background-color: hsl(193, 72%, 73%, 10%);
    border-radius: 10px;
}

.titleText {
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.mainCardText {
    margin: 0 5%;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
}

.secondaryCardText {
    margin: 0;
}

.icon {
    align-self: center;
    height: 10vw;
}