.container {
    display: grid;
    margin: 5%;
    grid-template-columns: 2;
    grid-template-rows: 2;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
}

.c1 {
    grid-row: 1;
    grid-column: 1;
}

.c2 {
    grid-row: 1;
    grid-column: 2;
}

.bgBlue {
    background-color: hsl(193, 72%, 73%, 10%);
    border-radius: 10px;
}

.titleText {
    font-size: 3em;
    text-align: center;
}

.mainCardText {
    margin: 0 5%;
    font-size: 2em;
    font-weight: 300;
}

.icon {
    align-self: center;
    width: 10vw;
}