.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.containerCol {
    background-color: hsla(193, 86%, 33%, 0.1);
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}
.statRow {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
}

.highlightedText {
    color: #42caf0;
    font-size: 1.3em;
    font-weight: 500;
}