.container {
    display: flex;
    justify-content: space-evenly;
    padding: 10em 0;
}

.container1 {
    background-color: rgba(12,125,157,.1);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleText {
    margin: 0;
    font-size: 6em;
    line-height: 0.8;
    font-weight: 600;
}

.statsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.stat {
    font-size: 2.3em;
    display: flex;
    gap: 6%;
}

.statImage {
    object-fit: fill;
    height: 1.5em;

    align-self: center;
}